---
http_interactions:
- request:
    method: get
    uri: https://ext-api.kickex.com/coingecko/api/v1/historical_trades?ticker_id=BTC_USDT
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Uwebsockets:
      - v0.17
    body:
      encoding: ASCII-8BIT
      string: '[{"trade_id":1596067922318184310,"price":"9021.7","amount":"0.01556683","timestamp":1596067922318,"type":"buy"},{"trade_id":1596067924818586904,"price":"9026.5","amount":"0.0388246","timestamp":1596067924818,"type":"buy"},{"trade_id":1596067924818586905,"price":"9026.8","amount":"0.00733497","timestamp":1596067924818,"type":"buy"},{"trade_id":1596067924818586906,"price":"9027.6","amount":"0.88718838","timestamp":1596067924818,"type":"buy"},{"trade_id":1596067926111481138,"price":"9027.6","amount":"0.00841615","timestamp":1596067926111,"type":"buy"},{"trade_id":1596067927321102554,"price":"9027.6","[...]
