---
http_interactions:
- request:
    method: get
    uri: https://ext-api.kickex.com/coingecko/api/v1/tickers
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Uwebsockets:
      - v0.17
    body:
      encoding: ASCII-8BIT
      string: '[{"ticker_id":"ETH_BTC","base_currency":"ETH","target_currency":"BTC","last_price":"0.000269","change_percent":"0","target_volume":"5014.705680","base_volume":"333845.967","high":"","low":"","bid":null,"ask":null},{"ticker_id":"KICK_ETH","base_currency":"KICK","target_currency":"ETH","last_price":"0.00000003","change_percent":"0","target_volume":"56554.21537972","base_volume":"1885140479324","high":"0.00000004","low":"0.00000003","bid":"0.00000003","ask":"0.00000004"},{"ticker_id":"KEX_ETH","base_currency":"KEX","target_currency":"ETH","last_price":"0.0000015","change_percent":"0","target_volume":"99820.41412210763","base_volume":"150602.865","high":"","low":"","bid":null,"ask":null},{"ticker_id":"K[...]
